@tailwind base;
@tailwind components;
@tailwind utilities;

/* 共通 */
@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .service-main th,td {
        font-size: 10px;
    }
}
.btn{
    padding: 0.1%;
    border: solid  10px #444444 ;
    border-radius: 10px;
    background-color: #444444;
    color: #FFFFFF;
}

/* main-top */
.main-top{
    text-align: center;
    padding: 15%;
}
.main-top h3{
    font-family: "toppan-bunkyu-midashi-go-std", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 300%;
}
.main-top p{
    font-size: 120%;
}
/* works*/
.works{
    text-align: center;
    padding: 5%;
    background-color: aliceblue;
}
.works h4{
    padding-bottom: 3%;
    font-size: 30px;
}
.works-choice{
    margin-bottom: 0.5%;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    
    /*並び順*/
    /*
    flex-start：左寄せ（デフォルト）
    flex-end：右寄せ
    center： 中央寄せ
    space-between：残り余白の均等割り 
    space-around：左右余白 ＋ 均等割り
    */
}

.web-site{
    display: none;
}
.movie h5{
    font-size:20px ;
}
.youtube iframe {
    width: 100%;
}
.youtube-shorts{
    width: 100%;
}
/* service*/
.service{
    text-align: center;
    padding: 5%;
}
.service h4{
    padding-bottom: 5%;
    font-size: 30px;
}
.service-main table{
    margin-top: 1%;
    display: inline;
}
.service-main p{
    font-size: 20px;
}
.service-main th,td {
    border: solid 1px;              /* 枠線指定 */
    padding: 10px;
    font-size: 30px;
}
/* about*/
.about{
    background-color: aliceblue;
    text-align: center;
    padding: 5%;
}
.about h4{
    padding-bottom: 5%;
    font-size: 30px;
}

/* contact*/
.contact{
    text-align: center;
    padding: 5%;
    max-height: 1000px;
}
.contact h4{
    padding-bottom: 5%;
    font-size: 30px;
}