@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: scroll;
}

/* ↓2023/03/04_コメント機能 */
.badge {
    display: inline-block;
    color: #fff;
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    font-size: 0.6rem;
    text-align: center;
    white-space: nowrap;
    background-color: green;
}
/* ↑2023/03/04_コメント機能 */

/*  ↓2023/03/05_ボタンデザイン */
/* ↓青ボタン小 */
.btnsetbs {
    @apply bg-blue-700  font-bold text-xs
  text-center hover:border-blue-700 hover:bg-white hover:text-blue-700;
}
/* ↑青ボタン小 */

/* ↑青ボタン中 */

/* ↓青ボタン中 */
.btnsetb {
    @apply bg-blue-700 md:h-auto leading-4 font-bold text-xs
  md:text-lg text-center hover:border-blue-700 hover:bg-white hover:text-blue-700;
}

/* ↑青ボタン中 */

/* ↓緑ボタン小 */
.btnsetgs {
    @apply bg-green-500  font-bold text-xs
  text-center hover:border-green-500 hover:bg-white hover:text-green-500;
}
/* ↑緑ボタン小 */

/* ↓緑ボタン中 */
.btnsetg {
    @apply bg-green-500 md:h-auto leading-4 font-bold text-xs
  md:text-lg text-center hover:border-green-500 hover:bg-white hover:text-green-500;
}

/* ↑緑ボタン中 */

/* ↓緑ボタン小 */
.btnsetg2s {
    @apply bg-green-800  font-bold text-xs
  text-center hover:border-green-800 hover:bg-white hover:text-green-800;
}
/* ↑緑ボタン小 */

/* ↓緑ボタン中 */
.btnsetg2 {
    @apply bg-green-800 md:h-auto leading-4 font-bold text-xs
  md:text-lg text-center hover:border-green-800 hover:bg-white hover:text-green-800;
}

/* ↑緑ボタン中 */

/* ↓オレンジボタン小 */
.btnsetos {
    @apply bg-orange-500  font-bold text-xs
  text-center hover:border-orange-500 hover:bg-white hover:text-orange-500;
}
/* ↑オレンジボタン小 */

/* ↓オレンジ中ボタン */
.btnseto {
    @apply bg-orange-500 md:h-auto leading-4 font-bold text-xs
  md:text-lg text-center hover:border-orange-500 hover:bg-white hover:text-orange-500;
}

/* ↑オレンジボタン中 */

/* ↓赤ボタン小 */
.btnsetrs {
    @apply bg-red-600  font-bold text-xs
  text-center hover:border-red-600 hover:bg-white hover:text-red-600;
}
/* ↑赤ボタン小 */

/* ↓赤ボタン中 */
.btnsetr {
    @apply bg-red-600 md:h-auto leading-4 font-bold text-xs
  md:text-lg text-center hover:border-red-600 hover:bg-white hover:text-red-600;
}

/* ↑赤ボタン中 */

/* ↓ピンクボタン小 */
.btnsetps {
    @apply bg-red-400  font-bold text-xs
  text-center hover:border-red-400 hover:bg-white hover:text-red-400;
}
/* ↑ピンクボタン小 */

/* ↓ピンクボタン中 */
.btnsetp {
    @apply bg-red-400 md:h-auto leading-4 font-bold text-xs
  md:text-lg text-center hover:border-red-400 hover:bg-white hover:text-red-400;
}

/* ↑ピンクボタン中 */

/* ↓ピンクボタン小 */
.btnsetpus {
    @apply bg-purple-600  font-bold text-xs
  text-center hover:border-purple-600 hover:bg-white hover:text-purple-600;
}
/* ↑ピンクボタン小 */

/* ↓ピンクボタン中 */
.btnsetpu {
    @apply bg-purple-600 md:h-auto leading-4 font-bold text-xs
  md:text-lg text-center hover:border-purple-600 hover:bg-white hover:text-purple-600;
}

/* ↑ピンクボタン中 */
/*  ↑2023/03/05_ボタンデザイン */


input::placeholder {
  font-size: 14px;
}

.h-100 {
  height: 32rem
    /* 384px */
  ;
}

.fonta{
  font-family: "Hiragino Kaku Gothic ProN";
}

/* ↓文字に影 */
.text-shadow{
color: #333;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.text-shadow2{
  color: white;
    text-shadow:  1px 1px 1px #0003ff78,
    1px -1px 1px #0003ff78,
    -1px 1px 1px #0003ff78,
    -1px -1px 1px #0003ff78;
  }
/* ↑文字に影 */
