@tailwind base;
@tailwind components;
@tailwind utilities;

/* 共通 */
a{
    color: rgb(0, 38, 255);
}
.content{
    text-align: center;
    padding-top: 5%;
}
.content h2{
    font-size: 30px;
    border-bottom : 2px solid #228833;
    display: inline-block;

}
/* header */
.header{
    max-width: 1280px;
    margin:0 auto;
    margin-top: 2%;
}
.header h1{
    font-size: 30px;
    font-weight: 500;
    margin-left: 5%;
}
.header-menu{
    font-style: none;
    color: #000;
    margin-right: 5%;
}
.header-menu ul{
    display: flex;
    justify-content:right;
}
.header-menu li{
    margin-left: 2%;
    border-bottom : 2px solid #228833;
}
/* main */
main{
    max-width: 1280px;
    margin:0 auto;
}
/* About */
.About-flex{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.About-flex img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
}
.about-content{
    width: 100%;
    
}
.about-content h1{
    text-align: left;
    font-size: 30px;
}
.about-content p{
    text-align: left;
}
/* business*/
.business-title{
    margin-bottom: 5%;
}
.business-content{
    display:inline-block;
    width: 30%;
    padding: 2%;
    margin-bottom: 10%;
}
.business-content h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1%;
}
.business-content p{
    text-align:left
}

/* works*/
.works{
    text-align: center;
    padding: 5%;
}
.works-title{
    margin-bottom: 20%;
}
.works h4{
    padding-bottom: 3%;
    font-size: 30px;
}

.movie h5{
    font-size:20px ;
}
.youtube iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}
.movie-sample{
    margin-bottom:10%;
}

/* contact */
.contact-form{
    text-align: left;
}
.contact-button{
    margin: 0 auto;
}
/* レスポンシブ */
@media all and (max-width :670px){
    /* 共通 */
    /* header */
    .header{
        text-align: center;
    }
    .header h1{
        margin: 0;
    }
    .header-menu{
        display: none;
    }
    /* About */
    .About-flex{
        display: block;
    }
    /* business*/
    .business{
        display: block;
        width: 100%;
    }
    .business-content{
        width: 100%;
        padding: 2%;
    }
}